<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-toggleable-xl">
  <a href="" class="btn btn-secondary"><span class="fa fa-home" style="font-size: 2rem"></span></a>
  <div class="navbar-brand">Inspyer</div>
  <div *ngIf="loggedIn; else login">
    <button class="btn btn-secondary">Logout</button>
  </div>
  <ng-template #login>
    <button href="" class="btn btn-primary">Login</button>
  </ng-template>

</nav>
<div class="container">
  <router-outlet></router-outlet>

</div>
